import all the necessary libraries

In [61]:
import streamlit as st
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

read dataset

In [18]:
df = pd.read_csv("/Users/lissachaves/Documents/GitHub/TELLES_Python_portfolio/TidyData-Project/olympics_08_medalists.csv")

check dataset

In [4]:
df.head()

,medalist_name,male_archery,female_archery,male_athletics,female_athletics,male_badminton,female_badminton,male_baseball,male_basketball,female_basketball,...,female_beach volleyball,male_volleyball,female_volleyball,male_water polo,female_water polo,male_weightlifting,female_weightlifting,male_freestyle wrestling,female_freestyle wrestling,male_greco-roman wrestling
0,Aaron Armstrong,NaN,NaN,gold,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron Peirsol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abdullo Tangriev,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abeer Abdelrahman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,bronze,NaN,NaN,NaN
4,Abhinav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

reshape the dataframe, so we do not have to look at all the other sports

In [27]:
melted_df = pd.melt(df, id_vars=["medalist_name"], var_name='Sport', value_name='Medal')

deleting where 'Medal' is NaN because it means the athlete didn't win a medal in that sport

In [26]:
melted_df = melted_df.dropna(subset=['Medal'])
melted_df.head()

      medalist_name         Sport   Medal
177    Bair Badënov  male_archery  bronze
676   Ilario Di Buò  male_archery  silver
682    Im Dong-hyun  male_archery    gold
760       Jiang Lin  male_archery  bronze
920  Lee Chang-hwan  male_archery    gold

In [40]:
melted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131250 entries, 0 to 131249
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   medalist_name  131250 non-null  object
 1   Sport          131250 non-null  object
 2   Medal          1875 non-null    object
dtypes: object(3)
memory usage: 3.0+ MB

In [41]:
melted_df.describe()

          medalist_name         Sport   Medal
count            131250        131250    1875
unique             1875            70       3
top     Aaron Armstrong  male_archery  bronze
freq                 70          1875     668

In [42]:
melted_df.isnull().sum()

medalist_name         0
Sport                 0
Medal            129375
dtype: int64

In [63]:
medals_per_athlete = melted_df.groupby('medalist_name')['Medal'].count().sort_values(ascending=True)
medals_per_athlete.head(10)
plt.figure(figsize=(10, 6))
medals_per_athlete.head(10).plot(kind='bar')
plt.title('Top 10 Athletes by Number of Medals')
plt.bar("medalist_name", "Medal")
plt.show()

/var/folders/mp/ytml7j4508v9wjxv0hpnhzlr0000gn/T/ipykernel_58783/3487160930.py:7: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [62]:
sport_medal_ct = pd.crosstab(melted_df['Sport'], melted_df['Medal'])
print(sport_medal_ct)
sns.heatmap(sport_medal_ct, annot=True, fmt="d", cmap='Blues')
plt.title('Medal Types Distribution Across Sports')
plt.show()

Medal                        bronze  gold  silver
Sport
female_archery                    4     2       3
female_artistic gymnastics        7     7       6
female_association football      18    18      18
female_athletics                 26    27      28
female_badminton                  3     3       4
...                             ...   ...     ...
male_trampoline gymnastics        1     1       1
male_triathlon                    1     1       1
male_volleyball                  12    12      12
male_water polo                  13    13      13
male_weightlifting                8     8       8

[70 rows x 3 columns]

/var/folders/mp/ytml7j4508v9wjxv0hpnhzlr0000gn/T/ipykernel_58783/530033169.py:5: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()